-# in app/views/movies/show.html.haml

%h1 All Movies

%table#movies
  %thead
    %tr
      %th
        %a{:href => '/movies/title_sort', :id => 'title_header'}Movie Title
      %th Rating
      %th 
        %a{:href => '/movies/date_sort', :id => 'release_date_header'}Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
